sphinxdocs/_build/*
sphinxdocs/_build/html/*
sphinxdocs/_build/doctrees/*
sphinxdocs/_build/doctrees/moduledocs/*
sphinxdocs/_static
tiddelibits
**/.pytest_cache
**/.lpk_graphs
logpickr_sdk/.idea
logpickr_sdk/.lpk_graphs
logpickr_sdk/.pytest_cache