sphinxdocs/_build/*
sphinxdocs/_build/html/*
sphinxdocs/_build/doctrees/*
sphinxdocs/_build/doctrees/moduledocs/*
sphinxdocs/_static
tiddelibits
**/.pytest_cache
igrafx_mining_sdk/.idea
igrafx_mining_sdk/.pytest_cache
igrafx_mining_sdk/dist
igrafx_mining_sdk/build
igrafx_mining_sdk/igrafx_mining_sdk/__pycache__
venv
.DS_Store
igrafx_mining_sdk/test.py
.idea
pyvenv.cfg
/dist
/build
/.pytest_cache
igrafx_mining_sdk/tests/__pycache__
.env
CONTRIBUTE.md
CHANGELOG.md