# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python#publishing-to-package-registries


name: Upload tagged SDK Package to PyPi

on:
  push:
    tags:
     - '*'

jobs:
  build-n-publish:
    name: Build and publish SDK to PyPI
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10.11
      uses: actions/setup-python@v5
      with:
        python-version: '3.10.11'
    - name: Install pypa/setuptools
      run: >-
        python -m
        pip install wheel
    - name: Extract tag name
      id: tag
      run: echo ::set-output name=TAG_NAME::$(echo $GITHUB_REF | cut -d / -f 3)
    - name: Update version in setup.py
      run: >-
        sed -i "s/{{VERSION_PLACEHOLDER}}/${{ steps.tag.outputs.TAG_NAME }}/g" setup.py

    - name: Install Poetry
      run: |
        python -m pip install --upgrade pip
        pip install poetry

    - name: Setup project
      run: |
        poetry config virtualenvs.create false

    - name: Install project dependencies
      run: |
        poetry install --no-root --no-dev

    - name: Build a tar.gz package
      run: >-
        python setup.py sdist --format=gztar

    - name: Publish distribution to PyPI
      uses: pypa/gh-action-pypi-publish@v1.8.14
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}


